<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
         body{

            width: 90%;
            margin:0 auto;
            padding-top: 20px;
        }
         .container{
             margin:0 auto;
             text-align: center;
         }
        .imageStyle{
            width: 500px;
        }
    </style>
</head>
<body>
    <div class="container">
        <image class="imageStyle" src="/static/alipay.jpg" ></image> 
        <image class="imageStyle" src="/static/wechat.jpg" ></image>
    </div>
</body>
</html>
